* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

div {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 16px;
  margin-top: 10px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a {
  text-decoration: none;
  color: black;
}
h1 h2,
h2 h2,
h3 h2,
h4 h2,
h5 h2,
h6 h2,
p h2 {
  font-family: Didot, sans-serif !important;
  font-size: 30px;
  line-height: 1.25em;
  font-weight: 600;
  padding-bottom: 500px;
}

.mountain {
  width: 100%;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: Sigmar;
  src: url("../fonts/SigmarOne-Regular.ttf");
}
@font-face {
  font-family: Segoe UI;
  src: url("../fonts/Segoe UI.ttf");
}
@font-face {
  font-family: SegoeBold;
  src: url("../fonts/Segoe UI Bold.ttf");
}
@font-face {
  font-family: SigmarBItalic;
  src: url("../fonts/Segoe UI Bold Italic.ttf");
}
nav {
  font-family: Times New Romans;
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
}
nav .left,
nav .right {
  margin-top: 50px;
}
nav .left {
  width: 60%;
  margin-left: 80px;
}
nav .left a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding-left: 30px;
  margin: 0 9px;
}
nav .right {
  width: 40%;
  margin-right: 74px;
}
nav .right a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  margin: 0 9px;
}
nav .right a span {
  font-family: Sigmar;
}

.content-sections {
  width: 100%;
  display: flex;
  height: 60%;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content-sections .promotions-Jennie {
  background-image: url("../images/newarrivals.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 700px;
}
.content-sections .promotions-BTS {
  background-image: url("../images/sale.jpg");
  width: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-sections .hero-text {
  font-size: 40px;
  font-family: SegoeBold;
}
.content-sections .hero-text h1 {
  margin-top: initial;
  text-decoration: underline;
}
.content-sections .hero-text p {
  color: #aa2d00;
  margin-top: 200px;
}
.content-sections .hero-text span {
  display: flex;
  text-align: center;
  margin-left: 100px;
  margin-bottom: auto;
}

.cover {
  width: 100%;
}
.cover .cover-image {
  background-image: url("../images/header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
}
.cover .cover-image input {
  position: absolute;
  width: 600px;
  height: 80px;
  font-size: 60px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  transition: 0.5s;
  outline: none;
  margin: 50px 20px;
  padding-left: 20px;
}
.cover .brands {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  margin-top: 20px;
}

.mission {
  width: 100%;
  background-color: black;
  height: 50%;
}
.mission div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: Segoe UI;
  color: white;
  align-items: center;
  margin: auto;
}
.mission div h1 {
  font-size: 50px;
}
.mission div h2 {
  font-size: 40px;
}
.mission div p {
  font-size: 30px;
}

.signup {
  position: relative;
  width: 100%;
  background-color: #f6d2d2;
  height: 50%;
  display: flex;
}
.signup .partOne {
  width: 50%;
  position: absolute;
  margin: 100px 20px;
  font-family: Segoe UI;
  align-items: center;
  margin: auto 20px;
}
.signup .partOne h1 {
  font-size: 30px;
}
.signup .partOne h2 {
  font-size: 20px;
}
.signup .partOne input {
  display: flex;
  width: 400px;
  height: 80px;
  font-size: 60px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  transition: 0.5s;
  outline: none;
  margin: 50px 20px;
  padding-left: 20px;
}
.signup .partOne button {
  display: flex;
  width: 100px;
  height: 80px;
  font-size: 20px;
}
.signup .partTwo {
  width: 50%;
  position: absolute;
  right: 0px;
}

.promotions {
  width: 100%;
}
.promotions .header {
  margin-top: 50px;
  text-align: center;
  align-items: center;
}
.promotions .header h1 {
  font-family: Segoe UI;
  font-size: 45px;
}
.promotions .header p {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
}
.promotions .subbanner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 50px;
}
.promotions .subbanner div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.promotions .subbanner div h1 {
  display: flex;
  font-size: 30px;
  right: 0px;
  bottom: 0px;
  text-transform: uppercase;
}
.promotions .subbanner .image1 {
  background-image: url("../images/jennie.jpg");
  height: 300px;
  width: 250px;
}
.promotions .subbanner .image2 {
  background-image: url("../images/lisa.jpg");
  height: 300px;
  width: 250px;
}
.promotions .subbanner .image3 {
  background-image: url("../images/kimtae.jpg");
  height: 300px;
  width: 250px;
}
.promotions .subbanner .image4 {
  background-image: url("../images/coat.jpg");
  height: 300px;
  width: 250px;
}
.promotions .paragraph {
  display: flex;
  justify-content: space-evenly;
  margin: 0px auto;
}
.promotions .paragraph div {
  width: 250px;
  font-size: 20px;
}
.promotions .paragraph div h1 {
  font-size: 25px;
  width: 100%;
}
.promotions .paragraph div p {
  display: flex;
  flex-wrap: wrap;
  font-size: 21px;
  width: 100%;
}
.promotions .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 50px;
}
.promotions .products div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.promotions .products div h1 {
  display: flex;
  font-size: 30px;
  right: 0px;
  bottom: 0px;
  text-transform: uppercase;
}
.promotions .products .image1 {
  background-image: url("../images/chanelbag.jpg");
  height: 219px;
  width: 219px;
}
.promotions .products .image2 {
  background-image: url("../images/silky.jpg");
  height: 219px;
  width: 219px;
}
.promotions .products .image3 {
  background-image: url("../images/necklace.jpg");
  height: 219px;
  width: 219px;
}
.promotions .products .image4 {
  background-image: url("../images/v.jpg");
  height: 219px;
  width: 219px;
}
.promotions .products .image5 {
  background-image: url("../images/bag.jpg");
  height: 219px;
  width: 219px;
}
.promotions .paragraph2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px auto;
}
.promotions .paragraph2 div {
  width: 219px;
}
.promotions .paragraph2 div h1 {
  font-size: 20px;
  width: 100%;
}
.promotions .paragraph2 div p {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  width: 100%;
}

.categories {
  width: 80%;
  margin-left: 20px;
}
.categories .resources {
  display: flex;
  justify-content: space-between;
}
.categories .resources span {
  font-weight: bold;
}