* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

div {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 16px;
  margin-top: 10px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a {
  text-decoration: none;
  color: black;
}
h1 h2,
h2 h2,
h3 h2,
h4 h2,
h5 h2,
h6 h2,
p h2 {
  font-family: Didot, sans-serif !important;
  font-size: 30px;
  line-height: 1.25em;
  font-weight: 600;
  padding-bottom: 500px;
}

.mountain {
  width: 100%;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: Sigmar;
  src: url("../fonts/SigmarOne-Regular.ttf");
}
@font-face {
  font-family: SegoeUI;
  src: url("../fonts/Segoe UI.ttf");
}
@font-face {
  font-family: SegoeBold;
  src: url("../fonts/Segoe UI Bold.ttf");
}
@font-face {
  font-family: SigmarBItalic;
  src: url("../fonts/Segoe UI Bold Italic.ttf");
}
nav {
  font-family: Times New Romans;
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
}
nav .left,
nav .right {
  margin-top: 50px;
}
nav .left {
  width: 60%;
  margin-left: 30px;
}
nav .left a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding-left: 30px;
  margin: 0 9px;
}
nav .right {
  width: 40%;
  margin-right: 20px;
}
nav .right span {
  font-family: Sigmar;
}
nav .right a {
  padding-left: 30px;
  color: white;
  font-size: 30px;
  text-decoration: none;
  margin: 0 9px;
}

.content-sections {
  width: 100%;
  display: flex;
  height: 60%;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content-sections .promotions-Jennie {
  background-image: url("../images/newarrivals.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 700px;
}
.content-sections .promotions-BTS {
  background-image: url("../images/sale.jpg");
  width: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-sections .hero-text {
  font-size: 40px;
  font-family: SegoeBold;
}
.content-sections .hero-text h1 {
  margin-top: initial;
  text-decoration: underline;
}
.content-sections .hero-text p {
  font-family: SegoeUI;
  font-weight: bold;
  color: #aa2d00;
  margin-top: 200px;
}
.content-sections .hero-text #box {
  margin: 180px 0px 0px 100px;
  display: block;
  border: 2px solid aliceblue;
  width: 367px;
  height: 66px;
  background-color: #ffffff;
  color: #aa2d00;
  font-style: italic;
  font-size: 49px;
  text-align: center;
  align-items: center;
}

.cover {
  width: 100%;
  font-family: SegoeUI;
  text-decoration: none;
}
.cover .cover-image {
  background-image: url("../images/header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
}
.cover .cover-image input {
  position: absolute;
  width: 600px;
  height: 80px;
  font-size: 60px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  transition: 0.5s;
  outline: none;
  margin: 50px 20px;
  padding-left: 20px;
}
.cover .brands {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  margin-top: 20px;
}

.mission {
  width: 100%;
  background-color: black;
  height: 50%;
}
.mission div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: SegoeUI;
  color: white;
}
.mission div p {
  margin-top: 60px;
  align-items: center;
  text-align: center;
  font-size: 30px;
  bottom: 0px;
}

.signup {
  position: relative;
  width: 100%;
  background-color: #f6d2d2;
  height: 50%;
  display: flex;
}
.signup .partOne {
  width: 50%;
  position: absolute;
  margin: 100px 20px;
  margin: 50px 20px;
  padding-left: 30px;
}
.signup .partOne p {
  font-family: SegoeBold;
  font-size: 20px;
  width: 100%;
}
.signup .partOne div {
  display: flex;
}
.signup .partOne div input {
  width: 500px;
  height: 70px;
  font-size: 60px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  transition: 0.5s;
  outline: none;
}
.signup .partOne div button {
  background-color: #000000;
  width: 130px;
  height: 60px;
  font-size: 20px;
  border-radius: 50%;
}
.signup .partOne div button p {
  color: white;
  display: flex;
  justify-content: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
}
.signup .partTwo {
  width: 45%;
  position: absolute;
  right: 0px;
}
.signup .partTwo p {
  width: 100%;
  font-family: SegoeBold;
  padding-top: 50px;
  font-size: 20px;
  font-style: italic;
}
.signup .partTwo .sm {
  display: flex;
  width: 50%;
  padding-left: 100px;
  justify-content: center;
}
.signup .partTwo .sm .fa {
  font-size: 30px;
  width: 40px;
  height: 40px;
  text-decoration: none;
  margin: 5px 2px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.signup .partTwo .sm .fa:hover {
  opacity: 0.7;
}
.signup .partTwo .sm .fa-facebook {
  background: #3b5998;
  color: white;
}
.signup .partTwo .sm .fa-instagram {
  background: #125688;
  color: white;
}
.signup .partTwo .sm .fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.signup .partTwo .sm .fa-twitter {
  background: #55acee;
  color: white;
}

.promotions {
  width: 100%;
  margin-bottom: 150px;
}
.promotions .header {
  margin-top: 50px;
  text-align: center;
  align-items: center;
}
.promotions .header h1 {
  font-family: SegoeUI;
  font-size: 45px;
}
.promotions .header p {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
}
.promotions .subbanner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 50px;
  padding-bottom: 150px;
}
.promotions .subbanner div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.promotions .subbanner div h1 {
  display: flex;
  font-size: 30px;
  right: 0px;
  bottom: 0px;
  text-transform: uppercase;
}
.promotions .subbanner .image1 {
  background-image: url("../images/jennie.jpg");
  height: 300px;
  width: 250px;
}
.promotions .subbanner .image2 {
  background-image: url("../images/lisa.jpg");
  height: 300px;
  width: 250px;
}
.promotions .subbanner .image3 {
  background-image: url("../images/kimtae.jpg");
  height: 300px;
  width: 250px;
}
.promotions .subbanner .image4 {
  background-image: url("../images/coat.jpg");
  height: 300px;
  width: 250px;
}
.promotions .subbanner .image1:hover {
  transform: scale(1.2);
}
.promotions .subbanner .image2:hover {
  transform: scale(1.2);
}
.promotions .subbanner .image3:hover {
  transform: scale(1.2);
}
.promotions .subbanner .image4:hover {
  transform: scale(1.2);
}
.promotions .subbanner .paragraph {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 300px auto;
  width: 250px;
}
.promotions .subbanner .paragraph p {
  font-size: 20px;
  width: 100%;
}
.promotions .subbanner .paragraph p span {
  font-size: 25px;
  width: 100%;
  font-weight: bold;
}
.promotions .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 50px;
}
.promotions .products div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.promotions .products div h1 {
  display: flex;
  font-size: 30px;
  right: 0px;
  bottom: 0px;
  text-transform: uppercase;
}
.promotions .products .image1 {
  background-image: url("../images/chanelbag.jpg");
  height: 219px;
  width: 219px;
}
.promotions .products .image2 {
  background-image: url("../images/silky.jpg");
  height: 219px;
  width: 219px;
}
.promotions .products .image3 {
  background-image: url("../images/necklace.jpg");
  height: 219px;
  width: 219px;
}
.promotions .products .image4 {
  background-image: url("../images/v.jpg");
  height: 219px;
  width: 219px;
}
.promotions .products .image5 {
  background-image: url("../images/bag.jpg");
  height: 219px;
  width: 219px;
}
.promotions .products .image1:hover {
  transform: scale(1.2);
}
.promotions .products .image2:hover {
  transform: scale(1.2);
}
.promotions .products .image3:hover {
  transform: scale(1.2);
}
.promotions .products .image4:hover {
  transform: scale(1.2);
}
.promotions .products .image5:hover {
  transform: scale(1.2);
}
.promotions .products .paragraph2 {
  bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 220px auto;
  width: 219px;
}
.promotions .products .paragraph2 p {
  font-size: 15px;
  width: 100%;
}
.promotions .products .paragraph2 p span {
  font-weight: bold;
  font-size: 20px;
}

.categories {
  font-family: SegoeUI;
  width: 100%;
  margin-bottom: 50px;
}
.categories .header {
  width: 80%;
  margin-left: 50px;
}
.categories .resources {
  padding-top: 50px;
  font-size: 20px;
  margin-left: 50px;
  display: flex;
}
.categories .resources div {
  padding-left: 50px;
}
.categories .resources div span {
  width: 100%;
  font-weight: bold;
}