.categories {
  font-family: SegoeUI;
  width: 100%;
  margin-bottom: 50px;
  .header {
    width: 80%;
    margin-left: 50px;
  }
  .resources {
    padding-top: 50px;
    font-size: 20px;
    margin-left: 50px;
    div {
      padding-left: 50px;
      span {
        width: 100%;

        font-weight: bold;
      }
    }

    // padding-right: 60px;
    display: flex;
    // justify-content: space-between;
  }
}
