.content-sections {
  width: 100%;
  // background-color: pink;
  display: flex;
  height: 60%;
  justify-content: space-between;
  margin-bottom: 50px;
  .promotions-Jennie {
    background-image: url("../images/newarrivals.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 700px;
  }
  .promotions-BTS {
    background-image: url("../images/sale.jpg");
    width: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-text {
    // display: flex;
    // text-align: center;
    font-size: 40px;
    font-family: SegoeBold;

    h1 {
      margin-top: initial;
      text-decoration: underline;
    }
    p {
      color: #aa2d00;
      margin-top: 200px;
    }
    span {
      display: flex;
      text-align: center;
      margin-left: 100px;
      margin-bottom: auto;
    }

    // transform: translate(-50%, -50%);
  }
}
