.content-sections {
  width: 100%;
  // background-color: pink;
  display: flex;
  height: 60%;
  justify-content: space-between;
  margin-bottom: 50px;
  .promotions-Jennie {
    background-image: url("../images/newarrivals.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 700px;
  }
  .promotions-BTS {
    background-image: url("../images/sale.jpg");
    width: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-text {
    // display: flex;
    // text-align: center;
    font-size: 40px;
    font-family: SegoeBold;

    h1 {
      margin-top: initial;
      text-decoration: underline;
    }
    p {
      font-family: SegoeUI;
      font-weight: bold;
      color: #aa2d00;
      margin-top: 200px;
    }
    #box {
      margin: 180px 0px 0px 100px;
      display: block;
      border: 2px solid aliceblue;
      width: 367px;
      height: 66px;
      background-color: #ffffff;
      color: #aa2d00;
      font-style: italic;
      font-size: 49px;
      text-align: center;
      align-items: center;
    }
  }

  // transform: translate(-50%, -50%);
}
