.cover {
  width: 100%;
  // height: 40%;
  .cover-image {
    background-image: url("../images/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    input {
      position: absolute;
      width: 600px;
      height: 80px;
      font-size: 60px;
      box-sizing: border-box;
      border: 3px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
      margin: 50px 20px;
      padding-left: 20px;
    }
  }

  // position: relative;

  .brands {
    // background-color: blue;
    // position: absolute;
    width: 100%;
    display: flex;
    // height: 10%;
    flex-direction: row;
    padding-left: 20px;
    // justify-content: space-evenly;
    margin-top: 20px;

    // padding: auto 20px;
  }
}
