.mission {
  width: 100%;
  background-color: black;
  height: 50%;

  div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: Segoe UI;
    color: white;
    align-items: center;
    margin: auto;

    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 40px;
    }
    p {
      font-size: 30px;
    }
  }
}
.signup {
  position: relative;
  width: 100%;
  background-color: #f6d2d2;
  height: 50%;
  display: flex;
  .partOne {
    width: 50%;
    // display: flex;
    position: absolute;
    margin: 100px 20px;
    font-family: Segoe UI;

    align-items: center;
    margin: auto 20px;

    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 20px;
    }

    input {
      // position: absolute;
      display: flex;
      width: 400px;
      height: 80px;
      font-size: 60px;
      box-sizing: border-box;
      border: 3px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
      margin: 50px 20px;
      padding-left: 20px;
    }
    button {
      display: flex;
      width: 100px;
      height: 80px;
      font-size: 20px;
    }
  }
  .partTwo {
    width: 50%;
    position: absolute;
    right: 0px;
  }
}
