.mission {
  width: 100%;
  background-color: black;
  height: 50%;

  div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: SegoeUI;
    color: white;
    // margin: auto;

    p {
      margin-top: 60px;
      align-items: center;
      text-align: center;
      font-size: 30px;
      bottom: 0px;
    }
  }
}

.signup {
  position: relative;
  width: 100%;
  background-color: #f6d2d2;
  height: 50%;
  display: flex;
  .partOne {
    width: 50%;
    position: absolute;
    margin: 100px 20px;
    margin: 50px 20px;
    padding-left: 30px;

    p {
      font-family: SegoeBold;
      font-size: 20px;
      width: 100%;
    }
    div {
      display: flex;
      input {
        // position: absolute;
        width: 500px;
        height: 70px;
        font-size: 60px;
        box-sizing: border-box;
        border: 3px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
      }
      button {
        background-color: #000000;
        width: 130px;
        height: 60px;
        font-size: 20px;
        border-radius: 50%;
        p {
          color: white;
          display: flex;
          justify-content: center;
          bottom: 0px;
          left: 0px;
          right: 0px;
          top: 0px;
        }
      }
    }
  }
  .partTwo {
    width: 45%;
    position: absolute;
    right: 0px;

    p {
      // display: flex;
      width: 100%;
      font-family: SegoeBold;
      padding-top: 50px;
      font-size: 20px;
      font-style: italic;
    }

    .sm {
      display: flex;
      width: 50%;
      padding-left: 100px;
      justify-content: center;

      .fa {
        font-size: 30px;
        width: 40px;
        height: 40px;
        text-decoration: none;
        margin: 5px 2px;
        display: flex;
        justify-content: center;

        justify-content: space-evenly;
      }

      .fa:hover {
        opacity: 0.7;
      }

      .fa-facebook {
        background: #3b5998;
        color: white;
      }
      .fa-instagram {
        background: #125688;
        color: white;
      }

      .fa-snapchat-ghost {
        background: #fffc00;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }

      .fa-twitter {
        background: #55acee;
        color: white;
      }
    }
  }
}
