nav {
  font-family: Times New Romans;
  // position: fixed;
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;

  // :hover {
  //   color: orange;
  // }
  .left,
  .right {
    margin-top: 50px;
  }
  .left {
    width: 60%;
    margin-left: 80px;
    a {
      color: white;
      font-size: 30px;
      text-decoration: none;
      padding-left: 30px;
      margin: 0 9px;
    }
  }
  .right {
    width: 40%;
    margin-right: 74px;
    a {
      color: white;
      font-size: 30px;
      text-decoration: none;
      span {
        font-family: Sigmar;
      }
      margin: 0 9px;
    }
  }
}
