.promotions {
  width: 100%;
  margin-bottom: 150px;
  .header {
    margin-top: 50px;
    text-align: center;
    align-items: center;
    h1 {
      font-family: SegoeUI;
      font-size: 45px;
    }
    p {
      font-family: "Times New Roman", Times, serif;
      font-size: 35px;
    }
  }
  .subbanner {
    display: flex;
    // background-color: blue;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 50px;
    padding-bottom: 150px;

    div {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      h1 {
        display: flex;
        font-size: 30px;
        right: 0px;
        bottom: 0px;
        text-transform: uppercase;
      }
    }
    .image1 {
      background-image: url("../images/jennie.jpg");
      height: 300px;
      width: 250px;
    }
    .image2 {
      background-image: url("../images/lisa.jpg");
      height: 300px;
      width: 250px;
    }
    .image3 {
      background-image: url("../images/kimtae.jpg");
      height: 300px;
      width: 250px;
    }
    .image4 {
      background-image: url("../images/coat.jpg");
      height: 300px;
      width: 250px;
    }
    .image1:hover {
      transform: scale(1.2);
    }
    .image2:hover {
      transform: scale(1.2);
    }
    .image3:hover {
      transform: scale(1.2);
    }
    .image4:hover {
      transform: scale(1.2);
    }
    .paragraph {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 300px auto;
      width: 250px;
      p {
        span {
          font-size: 25px;
          width: 100%;
          font-weight: bold;
        }
        // display: ;
        font-size: 20px;
        width: 100%;
      }
    }
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 50px;

    div {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      h1 {
        display: flex;
        font-size: 30px;
        right: 0px;
        bottom: 0px;
        text-transform: uppercase;
      }
    }
    .image1 {
      background-image: url("../images/chanelbag.jpg");
      height: 219px;
      width: 219px;
    }
    .image2 {
      background-image: url("../images/silky.jpg");
      height: 219px;
      width: 219px;
    }
    .image3 {
      background-image: url("../images/necklace.jpg");
      height: 219px;
      width: 219px;
    }
    .image4 {
      background-image: url("../images/v.jpg");
      height: 219px;
      width: 219px;
    }
    .image5 {
      background-image: url("../images/bag.jpg");
      height: 219px;
      width: 219px;
    }
    .image1:hover {
      transform: scale(1.2);
    }
    .image2:hover {
      transform: scale(1.2);
    }
    .image3:hover {
      transform: scale(1.2);
    }
    .image4:hover {
      transform: scale(1.2);
    }
    .image5:hover {
      transform: scale(1.2);
    }
    .paragraph2 {
      bottom: 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 220px auto;
      width: 219px;

      p {
        span {
          font-weight: bold;
          font-size: 20px;
        }
        // display: flex;
        // flex-wrap: wrap;
        font-size: 15px;
        width: 100%;
      }
    }
  }
}
